<html>

<head>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
  </style>
</head>

<body>
  <strong>Olá, {{ name }}</strong>
  <p>Você solicitou um reset de senha, seu token para criar uma nova senha é {{ token }} </p>
</body>

</html>
